- const getFieldName = (property) => `data[${property}]`
- const getFieldId = (property) => `data_${property}`

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin formField(tag, entity, entityName, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - fieldName = getFieldName(propertyName)
  - fieldId = getFieldId(propertyName)
  - labelValue = t(`views.${entityName}.${propertyName}`)
  - fieldValue = _.get(entity, propertyName, '')
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(
      for=inputId
    )= labelValue
    if tag === 'textarea'
      textarea(
        id=fieldId
        name=fieldName
        class=classLine
      )&attributes(attributes) #{fieldValue}
    if tag === 'input'
      input(
        id=fieldId
        name=fieldName
        class=classLine
        value=fieldValue
      )&attributes(attributes)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin input(entity, entityName, propertyName, errors = {})
  +formField('input', entity, entityName, propertyName, errors)

mixin textarea(entity, entityName, propertyName, errors = {})
  +formField('textarea', entity, entityName, propertyName, errors)

mixin select(entity, entityName, propertyName, options, optionNameValue, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - fieldId = getFieldId(propertyName)
  - labelValue = t(`views.${entityName}.${propertyName}`)
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(
      for=inputId
    )= labelValue
    select(
        id=inputId
        name=getFieldName(propertyName)
        class=classLine
    )&attributes(attributes)
      option(selected=entity[propertyName] === undefined)
      each opt in options
        option(value=opt.id selected=opt.id === entity[propertyName]) #{opt[optionNameValue]}
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)

