extends ../layouts/application.pug


block header
  +pageHeader('layouts.application.tasks')

block content
  .container.wrapper.flex-grow-1
    a.btn.btn-primary.mb-5(href=`tasks/new`)= t('buttons.createTask')

    .card.shadow-sm.mb-5
     .card-body.p-4
        form(action="/tasks", method="get")
          .row
            +filterSelect(filters, 'tasks', 'status', 'statusId', statuses, 'name', errors)
            +filterSelect(filters, 'tasks', 'executor', 'executorId', users, 'fullName', errors)
            +filterSelect(filters, 'tasks', 'label', 'labels', labels, 'name', errors)
          .mb-3.form-check
            label.form-check-label(for="data_isCreatorUser")= t('views.tasks.myTasks')
            input.form-check-input(id="data_isCreatorUser", type="checkbox", name="isCreatorUser")
          input.btn.btn-primary(type="submit", value="Показать")

    table.table.table-striped
      thead
        tr
          th= t('views.tasks.id')
          th= t('views.tasks.name')
          th= t('views.tasks.statusId')
          th= t('views.tasks.creatorId')
          th= t('views.tasks.executorId')
          th= t('views.tasks.createdAt')
          th= t('views.tasks.actions')
      tbody
        each task in tasks
          - status = statuses.find((s) => s.id == task.statusId)
          - creator = users.find((u) => u.id == task.creatorId)
          - executor = users.find((u) => u.id == task.executorId)
          tr
            td
              a(href=`tasks/${task.id}`)= task.id
            td
              a(href=`tasks/${task.id}`)= task.name
            td= status.name
            td= creator.fullName
            td= executor && executor.fullName || ''
            td= formatDate(task.createdAt)
            td
              .d-flex
                a.btn.btn-primary(href=`tasks/${task.id}/edit`)= t('buttons.edit')
                +buttonTo(`/tasks/${task.id}`, 'delete')(class="btn btn-danger ms-2" value=t('buttons.delete'))

