extends ../layouts/application.pug

block content
  .container.wrapper.flex-grow-1
    h1.display-4.fw-bold.mt-4= task.name
    .row.mt-5.p-5.shadow.bg-white
      .col-12.col-md-8.order-2.order-md-1
        .lead.fw-normal.mb-4= task.description ||  ''
      .col-12.col-md-4.border-start.px-3.order-1.order-md-2.mb-3.mb-md-0
        .mb-2
          span.me-1.badge.bg-danger.text-white= status.name
          each label in labels
            span.me-1.badge.bg-info.text-white= label.name
        .d-flex.flex-wrap.mb-3
          span.text-muted.me-2= t('views.tasks.creatorId')
          span= creator.fullName
        .d-flex.flex-wrap.mb-3
          span.text-muted.me-2= t('views.tasks.executorId')
          span= executor && executor.fullName || ''
        .d-flex.flex-wrap.mb-3
          span.text-muted.me-2= t('views.tasks.createdAt')
          span= formatDate(task.createdAt)
        .d-flex.flex-wrap
          a.btn.btn-primary(href=`/tasks/${task.id}/edit`)= t('buttons.edit')
          +buttonTo(`/tasks/${task.id}`, 'delete')(class="btn btn-danger ms-2" value=t('buttons.delete'))
